<h1>Add a new dose</h1>

<div class="list">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %><br><br>
    <%= f.input :ingredient_id, collection: Ingredient.all %><br><br>
    <%= f.submit "add a dose", class: "btn btn-primary" %>
  <% end %>
</div>



