.card {
  background: white;
  margin-bottom: 10px;
}
.card-header {
  height: 150px;
  background-size: cover;
  background-image: url('http://www.royalacademy.org.uk/assets/placeholder-1e385d52942ef11d42405be4f7d0a30d.jpg');
}
.card-body {
  padding: 30px;
}


